$red: #B71C1C;
$green: #4CAF50;
$outline-blue: #08c;

$borderStyle: 2px solid #ddd;

@import 'styles/select_box';

body {
  .navbar {
    border-radius: 0;
    height: 5%;
    background-color: #0000A0	;
    color: white;
    padding: 0 3%;
  }

  .navbar-header {
    display: inline-block;
    font-size: 15px;

  }
  #datediv{
    align-items: center;
    font-size: 35px;
    margin-top: 10%;
    margin-left: 15%;
    color: #0000A0;

  }
  #mainLayout{
   width: 70%;
   height: 70%;
   margin-left: 10%;
   margin-top: -5%;
   border-collapse: collapse;

   #TotConfirmedTable,#TotDeathsTable,#TotRecoveriesTable{
     margin-bottom: 3%;
     width: 50%;
     height: 50px;
     font-size: 20px;
     margin-left: 18%;
     color: white;
    }
     #TotConfirmedTable{
       background-color: 	#808080;
       th{
        font-weight: bold;
        font-style: italic;
       }
     }
     #TotDeathsTable{
       background-color: red;
       th{
        font-weight: bold;
        font-style: italic;
       }
     }
     #TotRecoveriesTable{
       background-color: $green;
       th{
        font-weight: bold;
        font-style: italic;
       }
     }

   #MapColumn{
     width: 27%;
     .datamap-container {
     }
    }

   #TableColumn{
     width: 40%;
    }
  }

}


.data-table-box {
  width: 150%;
  padding: 0 3%;

}

#dataTable{
  margin-top: 1%;
  width: 60%;
  border-collapse: collapse;
  th {
    font-size: 20px;
    border-radius: 15px;
    height: auto;
    padding: 2% 3%;
    font-weight: bold;
    cursor: pointer;
    text-align: left;
    color: #0000A0;


    h4 {
      font-weight: bold;
      display: inline-block;
    }

    .glyphicon {
      margin-left: 2%;
    }
  }

  td {
    border-radius: 15px;
    width: 25%;
    height: 25%;
    text-align: start;

    &:first-of-type {
      padding: 1% 3%;
    }

    &:last-of-type {
      border: none;
      width: 10%;
    }
  }

  input {
    text-align: center;
    border-radius: 15px;
    border-style: inherit;
    width: 100%;
    height: 100%;
    padding-left: 3%;
    background-color: inherit;
  }

  .remove-btn {
    margin-left: 10px;
    padding:15%;
    color: $red;
    opacity: 0;
    cursor: pointer;
    font-size: 1.7rem;
  }

  tr:hover .remove-btn {
    opacity: 1;
  }

}
